.admin-users-table {
  .name-col {
    width: 40%;

  }


  .delete-col {
    width: 14px;
  }

  .user {
    .name .you {
      font-style: italic;
      color: #666666;
      margin-left: 5px;
    }

    .delete {
      position: relative;
      cursor: pointer;
      color: #666666;

      &:hover {
        background-color: $brand-danger;
        color: #FFFFFF;
      }
    }
  }
}

.panel-button {
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 100%;
  background-color: #EEEEEE;

  .glyphicon {
    margin-right: 8px;
  }

  &:hover {
    background-color: darken(#EEEEEE, 10%);
  }
}
