@import "notifications";
@import "misc";
@import "navbar";
@import "dialogues";
@import "forms";
@import "panels";
@import "tables";
@import "views/login";
@import "views/admin";
@import "views/manage-project";
@import "views/home";
@import "views/edit-task";
@import "views/view-project";
@import "views/view-task";
@import "alert";
