.space-controls {
  .form-control {
    margin-bottom: 10px;
  }

  .form-control:last-child {
    margin-bottom: 0;
  }
}

.form-control.invalid {
  border-color: $state-danger-border;
}

label .hint {
  margin-left: 8px;
  font-weight: normal;
  font-style: italic;
  color: #999;
  transition: color 0.25s;

  &.invalid {
    color: $brand-danger;
  }
}
