
.form-signin {
  max-width: 400px;
  margin: 0 auto;

  #inputPassword {
    margin: 5px 0 10px 0;
  }

  #remember-me {
    min-height: 20px;
    position: absolute;
    margin: 0;
    cursor: pointer;
  }

  #remember-me-container {
    text-align: center;

    label {
      font-weight: normal;
      height: 20px;
      padding-left: 20px;
      cursor: pointer;
    }
  }

  .alert {
    margin: 10px auto;
  }
}


