body {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.visible {
  display: block;
}

@keyframes spin { 100% { transform: rotate(360deg); } }
.glyphicon.rotating {
  animation: spin 2s linear infinite;
}

#root {
  margin-top: $navbar-height;
}

.text-center {
  text-align: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-container .alert {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

h1 {
  font-size: 30px;
}

.header-bar {
  background-color: #0927b0;
  padding: 10px;
  margin-bottom: 30px;

  h1 {
    margin: 0;
    color: #FFFFFF;

    &.project-title {
      margin-top: 5px;
    }
  }

  #project-icon {
    width: 128px;
    height: 128px;
    margin: 5px 20px 5px 5px;
    background-color: rgba(255,255,255,0.2);
    float: left;
    border-radius: 5px;
  }
}

.actions {
  margin-bottom: 20px;

  h3 {
    margin-top: 0;
  }
}

form.space-controls.always-space {
  .form-control {
    margin-bottom: 10px;
  }
}
