body {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.visible {
  display: block;
}

@keyframes spin { 100% { transform: rotate(360deg); } }
.glyphicon.rotating {
  animation: spin 2s linear infinite;
}

#root {
  margin-top: $navbar-height;
}

.text-center {
  text-align: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-container .alert {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.panel {
  overflow: hidden;
}

h1 {
  font-size: 30px;
}

.navbar {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header-bar {
  background-color: #0927b0;
  padding: 10px;
  margin-bottom: 30px;

  h1 {
    margin: 0;
    color: #FFFFFF;
  }
}

.panel-primary .modal-header button {
  color: #FFF;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: $screen-xs-max) {
  .panel .panel-heading {
    cursor: pointer;
  }

  .panel.panel-collapse {
    overflow: hidden;

    .panel-heading {
      border-bottom: none;
    }

    .panel-body {
      display: none;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .panel .toggle-icon {
    display: none;
  }
}

table > tbody > tr > td {
  &.delete {
    position: relative;
    cursor: pointer;
    color: #666666;

    &:hover {
      background-color: $brand-danger;
      color: #FFFFFF;
    }
  }

  &.loading {
    position: relative;
  }
}

table > tbody > tr > td.table-vertical-middle {
  display: table-cell;
  vertical-align: middle;
}
