body {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.alert {
  .glyphicon {
    padding: 0;
    float: left;
  }

  div {
    margin-left: 20px;
  }
}

.visible {
  display: block;
}

@keyframes spin { 100% { transform: rotate(360deg); } }
.glyphicon.rotating {
  animation: spin 2s linear infinite;
}

#root {
  margin-top: $navbar-height;
}

.text-center {
  text-align: center;
}

.loading-container {
  margin: 40px auto;
  width: 100px;
}
