body {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.alert {
  .glyphicon {
    padding: 0;
    float: left;
  }

  div {
    margin-left: 20px;
  }
}

.visible {
  display: block;
}

@keyframes spin { 100% { transform: rotate(360deg); } }
.glyphicon.rotating {
  animation: spin 2s linear infinite;
}

#root {
  margin-top: $navbar-height;
}

.text-center {
  text-align: center;
}

.loading-container {
  margin: 40px auto;
  width: 100px;
}

.no-padding {
  padding: 0;
}

@media (max-width: $screen-sm-max) {
  .panel .panel-heading {
    cursor: pointer;
  }

  .panel.panel-collapse {
    overflow: hidden;

    .panel-heading {
      border-bottom: none;
    }

    .panel-body {
      display: none;
    }
  }
}

@media (min-width: $screen-md-min) {
  .panel .toggle-icon {
    display: none;
  }
}
