@keyframes notification-enter {
  0% { transform: translateY(100%); }
  100% { transform: translateY(0); }
}

@keyframes notification-leave {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

.notification {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 5px 0;
  z-index: 1000000;

  transform: translateY(0);

  animation: notification-enter 0.25s ease-out;

  &.hidden-notification {
    animation: notification-leave 0.25s ease-in;
    transform: translateY(100%);
  }

  .alert {
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
  }
}
