$alert-padding: 6px;

$brand-primary: #2d59ff;
$brand-info: #4e73ff;
$brand-success: #009957;
$brand-warning: #FFA800;
$brand-danger: #EB352C;

$state-info-text: #FFFFFF;
$state-info-bg: $brand-info;
$state-info-border: $brand-info;

$state-success-text: #FFFFFF;
$state-success-bg: $brand-success;
$state-success-border: $brand-success;

$state-warning-text: #FFFFFF;
$state-warning-bg: $brand-warning;
$state-warning-border: $brand-warning;

$state-danger-text: #FFFFFF;
$state-danger-bg: $brand-danger;
$state-danger-border: $brand-danger;

$navbar-inverse-bg: #061c7e;
$navbar-inverse-color: #F2F2F2;
$navbar-inverse-link-color: #FFFFFF;
$navbar-inverse-link-hover-bg: lighten($navbar-inverse-bg, 10%);

$font-family-sans-serif:  "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$navbar-inverse-toggle-border-color: transparent;
$navbar-inverse-toggle-hover-bg: lighten($navbar-inverse-bg, 10%);
